body{
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    
}

#footer  {  	
	clear: both;  	
	background: #007fff; 
        padding: 15px;
        color: #ecf3f9;
	} 
        
#cabecalho{
  background: #0016b0;
  width: 100%;
  padding: 10px;
  color: #ecf3f9;
  position: relative;
  text-align: center;
}

#receita{
    color: green;
    border-color: green;
    padding: 2px;
}
#despesa{
    color: red;
}

#saldo{
    color: gray;
    
}


h1{
    padding: 0px;
    font-size: 28px;
}

h2 {
    font-size: 26px;
    padding-bottom: 0px;
}

table{
    padding: 2px;
}
td {
    padding: 5px;
    text-align: left;
}

th{
    padding: 5px;
    text-align: left;
    background-color: #a29d9d;
}