{% extends 'base.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
    <div class="container">
        <div><h1>Ajuda?</h1></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            O que é o Controle Financeiro?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        O Controle Financeiro é um sistema desenvolvido para a aprovação na Disciplina de PPI2 do curso de ADS do IFTM - campus Paracatu.
                        Seu objetivo é permitir que o qualquer usuário consiga gerenciar seus gastos pessoais de forma prática e confiável. Por se tratar de uma versão inicial, o CF está sempre em evolução.
                        Dicas e sugestões são bem vindas sempre. <a href="#"> Clique para contribuir com ideias </a>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Quanto custa usar o sistema?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Absolutamente nada...
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Porque não consigo cadastrar uma receita ou despesa?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Para cadastrar uma receita ou despesa você deve ter pelo menos uma categoria e uma forma de pagamento cadastrada. Se preferir pode cadastrar esse itens automaticamente usando os nossos itens básicos.                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour  " aria-expanded="false" aria-controls="collapseThree">
                            Cadastrei uma categoria mas ela não aparece na listagem?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Após cadastrar uma categoria você precisa atualizar.                    </div>
                </div>
            </div>
            
             <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive  " aria-expanded="false" aria-controls="collapseThree">
                            Existe um limite para a quantidade de registro que posso cadastrar?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Sim. Para ajudá-lo em organizar melhor foi estipulado um limite para as suas entradas. Funciona assim: Para Categegorias e Formas de Pagamento (10 registros), para as Receitas (15 registros) e para as despesas (60 registros).                   </div>
                </div>
            </div>
            
               <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix  " aria-expanded="false" aria-controls="collapseThree">
                            Por que não consigo deletar uma categoria/forma de pagamento específica?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Só podem ser apagadas categorias/formas de pagamentos que não estejam sendo utilizadas em uma despesa. Primeiro apague a despesa para depois apagar as referências.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}