{% extends 'base.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
    <div class="container">
        <div><h1>Ajuda?</h1></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            O que é o Controle Financeiro?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        O Controle Financeiro é um sistema desenvolvido para a aprovação na Disciplina de PPI2 do curso de ADS do IFTM - campus Paracatu.
                        Seu objetivo é permitir que o qualquer usuário consiga gerenciar seus gastos pessoais de forma prática e confiável. Por se tratar de uma versão inicial, o CF está sempre em evolução.
                        Dicas e sugestões são bem vindas sempre. <a href="#"> Clique para contribuir com ideias </a>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Quanto custa usar o sistema?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Absolutamente nada...
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Porque não consigo cadastrar uma receita ou despesa?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Para cadastrar uma receita ou despesa você deve ter pelo menos uma categoria e uma forma de pagamento cadastrada. Se preferir pode cadastrar esse itens automaticamente usando os nossos itens básicos.                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour  " aria-expanded="false" aria-controls="collapseThree">
                            Cadastrei uma categoria mas ela não aparece na listagem?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Após cadastrar uma categoria você precisa atualizar.                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
