<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- Estilo de Menu -->
        <style>
            .navbar {
                background: #333;
                border-radius: 0px;
            }

            .nano {
                background: #fd402e;
            }
        </style>
        <!-- Estilo de Menu -->

         <!-- Carregar a API do google -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- Preparar a geracao do grafico -->
    <script type="text/javascript">

      // Carregar a API de visualizacao e os pacotes necessarios.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Especificar um callback para ser executado quando a API for carregada.
      google.setOnLoadCallback(desenharGrafico);

      /**
       * Funcao que preenche os dados do grafico
       */
      function desenharGrafico() {
        // Montar os dados usados pelo grafico
        var dados = new google.visualization.DataTable();
        dados.addColumn('string', 'Gênero');
        dados.addColumn('number', 'Quantidades');
        dados.addRows([
          ['Receitas', 2500],
          ['Despesas', 2180]
        ]);

        // Configuracoes do grafico
        var config = {
            'title':'Receitas x Despesas',
            'width':350,
            'height':200
        };

        // Instanciar o objeto de geracao de graficos de pizza,
        // informando o elemento HTML onde o grafico sera desenhado.
        var chart = new google.visualization.PieChart(document.getElementById('area_grafico'));

        // Desenhar o grafico (usando os dados e as configuracoes criadas)
        chart.draw(dados, config);
      }
    </script>

    </head>
    <body>

        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CONTROLE FINANCEIRO |</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/categorias">Categorias de Custo</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lançamentos
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Receitas</a></li>
                            <li><a href="#">Despesas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Extrato</a></li>
                    <li><a href="#">Gráfico</a></li>
                    <li><a href="#">Usuário</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrar</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Sair</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
        {% block body %} {% endblock %}
    </div>

    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <div class="navbar-text pull-left">
                <p> <small>Sistema de Controle Financeiro - 2017</small></p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
</body>
</html>
