<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/datepicker.css" rel="stylesheet">

        <!-- Estilo de Menu -->
        <style>
            body { padding-top: 100px; }
            .navbar {
                background: #0B3861;
                border-color: #0B3861;
                border-radius: 0px;
            }

            .nano {
                background: #444;
            }

            .bg-4 { 
                background-color: #2f2f2f;
                color: #ffffff;
            }

            .container-fluid {
                padding-top: 20px;
                padding-bottom: 20px;
            }

        </style>

    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">controle! |</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Painel</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastrar
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/categorias">Categorias</a></li>
                            <li><a href="/pagamentos">Formas de Pagamento</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lançamentos
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/receitas">Receitas</a></li>
                            <li><a href="/despesas">Despesas</a></li>
                        </ul>
                    </li>
                    <li><a href="/visaogeral">Visão Geral</a></li>
                    <li><a href="/ajuda">Ajuda</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">
                            </span> {{usuario | title}}     
                            <span class="caret"></spam>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Alterar dados</a></li>
                            <li><a href="#">Configurações</a></li>
                        </ul>
                    </li>
                    <li><a href="/"><span class="glyphicon glyphicon-log-in"></span>Sair</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
            {% block body %} 

            {% endblock %}
        </div>

        <footer class="container-fluid bg-4 text-center">
            <div class="container">

                <div>
                    <p> <small>Termos de Uso :: Sobre :: Contato</small></p>
                    <p> <small>Sistema de Controle Financeiro - 2017</small></p>
                </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/bootstrap-datepicker.js"></script>
        <script src="../js/scripts.js"></script>
        <script src="../js/locales/bootstrap-datepicker.pt-BR.min.js"></script>


        <script type="text/javascript">
            $('#dataRec').datepicker({
                format: "yyyy/mm/dd",
                language: "pt-BR",
                todayHighlight: true
            });

        </script>
    {% block scripts %}{% endblock %}

</body>
</html> 
