<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- Estilo de Menu -->
        <style>
            .navbar {
                background: #0B3861;
                border-color: #0B3861;
                border-radius: 0px;
            }

            .nano {
                background: #444;
            }

            .bg-4 { 
                background-color: #2f2f2f;
                color: #ffffff;
            }

            .container-fluid {
                padding-top: 20px;
                padding-bottom: 20px;
            }

        </style>
        <!-- Estilo de Menu -->

        <!-- Carregar a API do google -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <!-- Preparar a geracao do grafico -->
        <script type="text/javascript">

            // Carregar a API de visualizacao e os pacotes necessarios.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Especificar um callback para ser executado quando a API for carregada.
            google.setOnLoadCallback(desenharGrafico);

            /**
             * Funcao que preenche os dados do grafico
             */
            function desenharGrafico() {
                // Montar os dados usados pelo grafico
                var dados = new google.visualization.DataTable();
                dados.addColumn('string', 'Gênero');
                dados.addColumn('number', 'Quantidades');
                dados.addRows([
                    ['Receitas', 2500],
                    ['Despesas', 2180]
                ]);

                // Configuracoes do grafico
                var config = {
                    'title': 'Receitas x Despesas',
                    'width': 450,
                    'height': 300
                };

                // Instanciar o objeto de geracao de graficos de pizza,
                // informando o elemento HTML onde o grafico sera desenhado.
                var chart = new google.visualization.PieChart(document.getElementById('area_grafico'));

                // Desenhar o grafico (usando os dados e as configuracoes criadas)
                chart.draw(dados, config);
            }


        </script>

    </head>
    <body>

        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CONTROLE FINANCEIRO |</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Painel</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastrar
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/categorias">Categorias</a></li>
                            <li><a href="#">Formas de Pagamento</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lançamentos
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Receitas</a></li>
                            <li><a href="#">Despesas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Balanço Patrimonial</a></li>
                    <li><a href="#">Ajuda</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">
                            </span> {{usuario | title}}     
                            <span class="caret"></spam>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Alterar dados</a></li>
                            <li><a href="#">Configurações</a></li>
                        </ul>
                    </li>
                    <li><a href="/"><span class="glyphicon glyphicon-log-in"></span>Sair</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
            {% block body %} {% endblock %}
        </div>

        <footer class="container-fluid bg-4 text-center">
            <div class="container">

                <div>
                    <p> <small>Sistema de Controle Financeiro - 2017</small></p>
                </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $('#modal-edita').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal
                var recipient = button.data('whatever');
                var recipient2 = button.data('whatever2');// Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Categoria: ' + recipient);
                modal.find('.modal-body input').val(recipient);
                modal.find('.modal-body textarea').val(recipient2);
            });

            $('#modal-exclui').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal
                var recipient = button.data('whatever');
                var recipient2 = button.data('whatever2');// Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Categoria : ' + recipient);
                modal.find('.modal-body input').val(recipient);
                modal.find('.modal-body textarea').val(recipient2);
            });
        </script>


    </body>
</html>
