{% extends 'base.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
    <style>
        .containerLogin{
            width: 100%;
            height: 100%;
            background: #e4e4e4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .formulario{
            width: 450px;
            background: #fff;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
    </style>
    
    <div class="containerLogin">
        <fieldset>
            <legend>Cadastro de usuário</legend>
            <div class="form-group">
                <label>Email</label>
                <input id="email" type="email" minlength="5" maxlength="100"
                       class="form-control" name="email" value="<?php echo 
                       (isset($_SESSION['email'])) ? $_SESSION['email'] : '' ;?>"
                       required>
            </div>
            <div class="form-group">
                <label>Login</label>
                <input id="login" type="text" minlength="5" maxlength="20" 
                       class="form-control" name="login" value="<?php echo 
                       (isset($_SESSION['login'])) ?
                       $_SESSION['login'] : '' ;?>" required>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input id="senha" type="password" minlength="5" maxlength="50"
                       class="form-control" name="senha" required>
            </div>
            <div class="form-group align-right">
                <button id="cadastrar" type="submit" name="cadastrar" 
                        class="btn btn-primary btn-block">Cadastrar</button>
            </div>
        </fieldset>
    </div>
{% endblock %}
{%block script %}
    <script src="js/usuario.js"></script>
{% endblock %}