{% extends 'base.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-2">      <a href="/categorias">
                        <button type="button" class="btn btn-primary btn-lg" >
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <br>Categorias <br>de Custo
                        </button>
                    </a></div>
                <div class="col-sm-2"> 
                    <button type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <br>Cadastrar <br>Receitas
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> <br>Cadastrar <br>despesas
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <br>Visualizar <br>Extrato
                    </button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <br>Balanço <br>Patrimonial
                    </button>
                </div>
                
            </div>









        </div>
        <div id="area_grafico"></div>
    </div>




{% endblock %}


